html {
    font: 1.2em "Fira Sans", Electrolize;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    /* background-color:green; */
}


/* HEADER */
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    flex: 1;
    /* background-color:aqua; */
    align-items: center;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
}

.logo {
    width: 10%;
    text-align: center;
}

.logoSite {
    max-height: 50px;
    max-width: 50px;
}

.titleSite {
    width: 50%;
    text-align: center;
}

.eventDate {
    width: 30%;
}

.connexion {
    width: 10%;
}

.button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
}


/* MAIN */
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 12;
    /* background-color:blueviolet; */
}

.infoFirst {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    /* background-color:pink; */
    text-align: center;
    align-items: center;
}

.infoGeneral {
    width: 40%;
    /* text-align: center; */
}

.blockImgBrocante {
    width: 20%;
    /* text-align: center; */
}

.imgBrocante {
    width: 60%;
}
.imgBrocanteBig {
    width: 80%;
}



.infoFirstBottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.infoFirstBottomPhoto {
    flex:2;
    text-align:center;
}
.infoFirstBottomTxt {
    flex:3;
    text-align:left;
    margin-right:40px;
}

/* BANNER */
.bannerBoard {
    max-width: 95%;
    margin:20px;
}

/* SECURITY */
.securityLeft {
    flex: 1;
    text-align:left;
}

.securityRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}
.securityBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 40px 0px 40px;
}
.securityImg{
flex:1;
}
.imgSecurity{
    max-width:50%;
}
.securityTxt{
    flex:3;
    text-align:center;
}
.securityTxtFull{
width:90%;
margin-left:40px;
}



.pBig{
    font-size: x-large;
}

.blockPhotoTxt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.photoColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 10px 10px 10px 10px;
    /* background-color:antiquewhite; */
}

.txtColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align:center;
    flex: 3;
    align-items: center;
}

.infoTxtTitle {
    font-size: xx-large;
    text-align: center;
}

.imgPhotoColumn {
    max-width: 110px;
    max-height: 110px;
}


/* FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    /* background-color:coral; */
    align-items: center;
    text-align: center;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
}

.copyright {
    width: 20%;
    /* background-color:blue; */
}

.contact {
    width: 40%
}

.cgu {
    width: 20%
}

.help {
    width: 20%
}