html {
    font: 1.2em "Fira Sans", Electrolize;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    background-color:#B5DCC9;
}

/* HEADER */
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    flex: 1;
    /* background-color:aqua; */
    align-items: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
    margin-bottom: 20px;;
}

.logo {
    width: 10%;
    text-align: center;
}

.logoSite {
    max-height: 50px;
    max-width: 50px;
}

.titleSite {
    width: 80%;
    text-align: center;
}

.eventDate {
    width: 30%;
}

.connexion {
    width: 10%;
}

.button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.buttonValid {
    font-size: large;
    height:30px;
    width:100%;
    border-radius: 10px;
}

/* MAIN */
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 12;
    /* background-color:blueviolet; */
}

.infoFirst {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    /* background-color:pink; */
    text-align: center;
    align-items: center;
}

.infoGeneral {
    width: 40%;
    /* text-align: center; */
}

.blockImgBrocante {
    width: 20%;
    /* text-align: center; */
}

.imgBrocante {
    width: 60%;
}

.imgBrocanteBig {
    width: 80%;
}

.infoFirstBottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.infoFirstBottomPhoto {
    flex:2;
    text-align:center;
}

.infoFirstBottomTxt {
    flex:3;
    text-align:left;
    margin-right:40px;
}

/* BANNER */
.bannerBoard {
    max-width: 95%;
    margin:20px;
}

/* SECURITY */
.securityLeft {
    flex: 1;
    text-align:left;
}

.securityRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.securityBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 40px 0px 40px;
}

.securityImg{
flex:1;
}

.imgSecurity{
    max-width:50%;
}

.securityTxt{
    flex:3;
    text-align:center;
}
.securityTxtFull{
width:90%;
margin-left:40px;
}

fieldset{
    border-radius: 10px;
    border-color: #6D90C6;
}


.pBig{
    font-size: x-large;
}

.blockPhotoTxt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.help{
    width:20%
}
/* modification des formulaires à revoir:  */

.reservation{
    padding: 20px;
}

input{
    margin: 5px;
}
#inscription{
    background-color: #6D90C6;
}
/* modification des fomulaires à revoir */

.photoColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 10px 10px 10px 10px;
    /* background-color:antiquewhite; */
}

.blockReservation {
    align-items: center;
    text-align:left;
    align-items: center;
}

li{
    margin:5px;
}

.txtColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align:center;
    flex: 3;
    align-items: center;
}

.txtColumnCovid { 
    margin:20px;
}

.infoTxtTitle {
    font-size: xx-large;
    text-align: center;
}

.imgPhotoColumn {
    max-width: 110px;
    max-height: 110px;
}

.fieldsetInformation{
    text-align:left;
    margin-left: 10px;
}


/* CONNECT - NEW */
.LFconnect{
    width:45%;
    margin:2%;
    align-items: flex-start;
}
.LFnew{
    width:45%;
    margin:2%;
}
input{
    max-width:100%;
}
.infoFirstConnect {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}
legend{
    font-size: x-large;
}



/* PROFILE */
.profileBanner{
    font-size: xx-large;
    margin:10px;
}
.profileAsk{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:30%;
    margin:10px;
}
.profileInfo{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:70%;
}
.profileInfoTxt{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:50%;
}
.profileTxt{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:50%;
    margin:10px;
}
.profileTxtInfo{
    width:100%;
    height:30px;
    margin:10px;
}



/* FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    /* background-color:coral; */
    align-items: center;
    text-align: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
}

.copyright {
    width: 20%;
    /* background-color:blue; */
}

.contact {
    width: 40%
}

.cgu {
    width: 20%
}

.help {
    width: 20%
}

/* CGU */
.informLegal{
    font-size: 30px;
    color: #6D90C6;
}

.cguFont{
    font-size: 15px;
}

/* Nous contacter */
.SStxtColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 100px;
}

.blockContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align:left;
    align-content: center;
    width: 60vh;
}

.SScontact{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.bpEnvoiContact {
    align-self: center;
    font-size: large;
    height:30px;
    border-radius: 10px;
    width: 100px;
}

.fullreseauSociaux{
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    width: 30vh;
    margin-top: auto;
    margin-bottom: auto;
}

.reseauSociaux{
    display: flex;
}

.imgReseauSociaux{
    width:15%;
    margin-top: auto;
    margin-bottom: auto;
}

.txtReseauSociaux{
    margin-left: 10px;
}

.tatoo{
    font-size: 12px;
}