@import url('//fonts.googleapis.com/css?family=Electrolize:300,400,600,700&amp;lang=en');

html {
    font: 1.2em "Fira Sans", Electrolize;
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    background-color: #B5DCC9;
}


/* HEADER */
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    flex: 1;
    /* background-color:aqua; */
    align-items: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
    margin-bottom: 20px;
    ;
}

.logo {
    width: 10%;
    text-align: center;
}

.logoSite {
    max-height: 70px;
    max-width: 70px;
}

.titleSite {
    font-size: xx-large;
    width: 80%;
    text-align: center;
}

.eventDate {
    width: 30%;
}

.connexion {
    width: 10%;
}

.button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.buttonValid {
    font-size: large;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}


/* MAIN */
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color:blueviolet; */
}

.infoFirst {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    /* background-color:pink; */
    text-align: center;
    align-items: center;
}

.infoGeneral {
    width: 40%;
    /* text-align: center; */
}

.blockImgBrocante {
    width: 20%;
    /* text-align: center; */
}

.imgBrocante {
    width: 60%;
}

.imgBrocanteBig {
    width: 80%;
}



.infoFirstBottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.infoFirstBottomPhoto {
    flex: 2;
    text-align: center;
}

.infoFirstBottomTxt {
    flex: 3;
    text-align: left;
    margin-right: 40px;
}

/* BANNER */
.bannerBoard {
    max-width: 95%;
    margin: 20px;
}

/* SECURITY */
.securityLeft {
    flex: 1;
    text-align: left;
}

.securityRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.securityBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 40px 0px 40px;
}

.securityImg {
    flex: 1;
}

.imgSecurity {
    max-width: 50%;
}

.securityTxt {
    flex: 3;
    text-align: center;
}

.securityTxtFull {
    width: 90%;
    margin-left: 40px;
}

fieldset {
    border-radius: 10px;
    border-color: #6D90C6;
}


.pBig {
    font-size: x-large;
}

.blockPhotoTxt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.help {
    width: 20%
}

/* modification des formulaires à revoir:  */

.reservation {
    padding: 20px;

}

input {
    margin: 5px;
}

/* #reservation {
    background-color: #6D90C6;
} */

/* #inscription {
    background-color: #6D90C6;
} */

/* modification des fomulaires à revoir */

.photoColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 10px 10px 10px 10px;
    /* background-color:antiquewhite; */
}

.blockReservation {
    width:50%;
    text-align: left;
    align-items: center;
}

li{
    margin: 5px;
    height:30px;
}

.txtColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 3;
    align-items: center;
}

.txtColumnCovid {
    margin: 20px;
}

.infoTxtTitle {
    font-size: xx-large;
    text-align: center;
}

.imgPhotoColumn {
    max-width: 110px;
    max-height: 110px;
}

.fieldsetInformation{
    text-align:left;
    margin-left: 10px;
}


/* CONNECT - NEW */
.LFconnect{
    width:45%;
    margin:2%;
    align-items: flex-start;
}
.LFnew{
    width:45%;
    margin:2%;
}
input{
    max-width:100%;
}
.infoFirstConnect {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}
legend{
    font-size: x-large;
    margin-left:20px;
}

/* PROFILE */
.profileBanner{
    margin:10px;
}
.profileTxt{
    margin:10px;
}



/* FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    /* background-color:coral; */
    align-items: center;
    text-align: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
}

.copyright {
    font-size: small;
    width: 20%;
    /* background-color:blue; */
}

.contact {
    width: 40%
}

.cgu {
    width: 20%
}

.help {
    width: 20%
}
.contactUs{
text-align: center;
}